@using QuizController = Quiz.Controllers.QuizController
@model IEnumerable<QuizController.QuizWithAvg>

@{
    ViewData["Title"] = "Index";
}

<h1>Quizes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeLimitSec)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimitSec)s
            </td>
        </tr>
}
    </tbody>
</table>
