@using QuizController = Quiz.Controllers.QuizController
@model IEnumerable<QuizController.QuizWithAvg>

@{
    ViewData["title"] = "Quizzes";
    const string timeLimitLabel = "Time Limit";
    const string avgCompletedLabel = "Avg. %";
}

<h1>Quizes</h1>
<div class="content-heading">
    <form class="search-form" method="get" asp-action="Index" asp-controller="Quiz">
        <div class="input-group">
            <label>Name</label>
            <input name="search" type="text" autocomplete="off"/>
        </div>
        <div class="submit-group">
            <button>Search</button>
            @if (ViewBag.Search)
            {
                <a asp-action="Index">View All</a>
            }
        </div>
    </form>
    <nav>
        <a asp-action="Create">Create New</a>
    </nav>
</div>
<hr/>
<table>
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @avgCompletedLabel
        </th>
        <th>
            @timeLimitLabel
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td data-label="@($"{Html.DisplayNameFor(model => model.Name)}: ")">
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td data-label="@($"{avgCompletedLabel}: ")">
                @if (item.AvgPercentCompleted < 0)
                {
                    @("Not Completed")
                }
                else
                {
                    @($"{(item.AvgPercentCompleted * 100):.00}%")
                }
            </td>
            <td data-label="@($"{timeLimitLabel}: ")">
                @($"{item.TimeLimitSec / 60}:{(item.TimeLimitSec % 60):00}")
            </td>
        </tr>
    }
    </tbody>
</table>