@model QuizResult

@{
    ViewData["Title"] = "Index";
    ViewData["javascript"] = new List<string>
    {
        "js/result.js"
    };

    var missingWords = new HashSet<string>();
    if (Model.MissingWords != null)
    {
        foreach (var word in Model.MissingWords)
        {
            missingWords.Add(word.Word!.ToLower());
        }
    }
}

<div class="heading">
    <div class="result-heading">
        <h1>@Model.Quiz?.Name</h1>
        <p>Completed: <span>@((Model.PercentCompleted * 100).ToString("0.00"))%</span></p>
    </div>
    <nav class="heading-nav">
        <ul>
            <li>
                <a asp-controller="Quiz" asp-action="Details" asp-route-id="@(Model.Quiz?.Id)">Back to Quiz</a>
            </li>
            <li>
                <a asp-controller="Quiz" asp-action="Index">Back to quiz list</a>
            </li>
        </ul>
    </nav>
</div>
<hr/>
<div>
    <div>
        @if (Model.MissingWords != null)
        {
            <p class="lyrics">
                @foreach (var word in Model.Quiz!.Lyric!.Split(" "))
                {
                    if (missingWords.Contains(word.ToLower()))
                    {
                        <span class="result-missing">@word</span>
                    }
                    else
                    {
                        <span class="result-exists">@word</span>
                    }
                }
            </p>
        }
    </div>
</div>